*{
    margin: 0;
    padding: 0;
    font-family: ost;
    color: white;
}
body {
    background-image: url(space.png);
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    width: 30px;
    font-size: 1.5em;
    background-color: transparent;
    border: 2px solid white;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 10px;
    height: 63vh;
}
main h1{
    font-size: 1.2em;
    font-family: ost;
    text-align: center;
}
main form{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.input-box{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid white;
    padding-left: 20px;
    font-size: 0.7em;
    margin-top: 3%;
}
main form input[type=text]{
    height: 50px;
    border-radius: 40px;
}
main textarea{
    padding-top: 4%;
    height: 100px;
    border-radius: 20px;
}
main form input[type=submit]{
    width: 50%;
    height: 5vh;
    border-radius: 15px;
    border: none;
    text-decoration: none;
    align-self: center;
    color: black;
    font-family: Arial;
    font-size: 0.8em;
    background-color: white;
}
