body { 
    margin: 0; 
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
.start{
    position: absolute;
    width: 5em;
    border-radius: 10px;
    background-color: #3E5730;
    color: white;
    font-size: 4em;
    margin-top: 41.5%;
    margin-left: 39%;
    font-family: ost;
}
.ot{
    position: absolute;
    width: 5.5em;
    border-radius: 10px;
    background-color: #203451;
    color: white;
    font-size: 3em;
    margin-top: 42.4%;
    margin-left: 12.6%;
    font-family: ost;
}
.ot1{
    position: absolute;
    width: 5.5em;
    border-radius: 10px;
    background-color: #203451;
    color: white;
    font-size: 3em;
    margin-top: 42.4%;
    margin-left: 70%;
    font-family: ost;
}

h1{
    color: white;
    position: absolute;
    font-family: csc;
    font-weight: 400;
    font-size: 7em;
    margin-top: auto;
   
    margin-left: 4.2em;
}



@font-face {
    font-family: ost;
    src: url('OldStandardTT-Regular.ttf');
  }

  @font-face {
    font-family: csc;
    src: url('CormorantSC-Regular.ttf');
  }
