body { 
    margin: 0; 
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.slider{
    position: absolute;
    


}
.h1{
    color: white;
    position: absolute;
    margin-top: 42%;
    font-size: 1.3em;
    margin-left: 30%;
}
.h2{
  color: white;
  position: absolute;
  margin-top: 42%;
  font-size: 1.3em;
  margin-left: 62%;
}

.slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 30%; 
    height: 5px; 
    background: #ffffff; 
    outline: none; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    border-radius: 1em;
    margin-top: 45%;
    margin-left: 35%;
  }
  
 
  .slider:hover {
    opacity: 1; 
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    width: 17px; 
    height: 17px;
    background: #ffffff; 
    cursor: pointer;
    border-radius: 10em;
  }

  #demo{
    position: absolute;
    color: white;
  }

  h1{
    position: absolute;
    color: white;
  }

  .feedback{
    position: absolute;
    width: 5.8em;
    border-radius: 10px;
    background-color: #203451;
    color: white;
    font-size: 2.5em;
    margin-top: 41.5%;
    margin-left: 80%;
    font-family: ost;
}